node_modules
.env


// dependencies :[
{
  mongoose-aggregate-paginate-v2 : using for aggregation pipeline in mongoDb
},
{
  bcrypt: using for password encryption/decrypt/compare etc.  bcz in Db we can not store password directly
},
{
  jsonwebtoken : use for token , visit "jwttoken" website for more details
},
{
  multer : it is used to upload a file, https://github.com/expressjs/multer#readme
},
{ cloudnary : it is a server provide service. we use it for upload our file in the cloudnary server
}
]